<html lang="en">
  <head>
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;
   img-src 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *"
    /> -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/site/css/style.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>